<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    hello <p><%= user.username %></p>
    <a href="/logout"><button>logout</button></a>
    <a href="/display"><button>explore</button></a>
    <a href="/nearestUsers"><button>find nearest users</button></a>
    <a href="/ip"><button>give access to your location</button></a>
</body>
</body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
    body, html {
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1495610379499-a1f03b4732a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
}
.container{
    color: azure;
}
    
    </style>
    <title>Dashboard</title>
  </head>
  <body>
        <div class="container">
                <h1 class="display-4">Hello, <%= user.name %> </h1>
                <p class="lead">Welcome to your Dashboard. Have fun.</p>
                <hr class="my-4">
                <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
                <a class="btn btn-primary btn-lg" href="/display" role="button">Explore</a>
                <br>
                <br>
                <br>
                <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
                <br>
                <br>
                <br>
                <a class="btn btn-primary btn-lg" href="/ip" role="button">Give Location Access</a>
                <br>
                <br>
                <br>
                <a class="btn btn-primary btn-lg" href="/nearestUsers" role="button">Find Nearest Users</a>
              </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

